
        <div class="row footer">
            <p>Trademark 2018 by Michael Hibbard</p>
            <p><a href="https://darksky.net/poweredby/">Powered by DarkSky</a></p>
            <p>Photo by Clinton Naik on <a href="http://unsplash.com">Unsplash</a>.</p>
        </div>
    </div><!--Close container-->
    </body>

</html>